*{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#gogo{
	font-family: Helvetica;
	font-size: 8vh;
	width: 100vw;
	color: black;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
#koko{
	font-family: 'Caveat';
	font-size: 4vh;
	width: 100vw;
	color: #848484;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.btn{
 position: absolute;
 bottom: 0;
 width: 100vw;
 height: 12vh;
} 
.btn button{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	font-size: 3vh;
  font-family: Helvetica;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
}
.btn button:hover {
	cursor: pointer;
	outline: 0!important;
	background: rgb(53, 167, 110); 
}
.btn button:active {
  outline: 0!important;
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}


.btn1{
 position: absolute;
top: 0;
 width: 100vw;
 height: 12vh;
} 
.btn1 button{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	font-size: 3vh;
  font-family: Helvetica;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
}
.btn1 button:hover {
	cursor: pointer;
	outline: 0!important;
	background: rgb(53, 167, 110); 
}
.btn1 button:active {
  outline: 0!important;
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}










@media only screen and (max-width: 1024px){
	#gogo{
         font-size: 5vh;
         padding-left: 2vw;
         padding-right: 2vw;
	}
	#koko{
         font-size: 2.4vh;
         padding-left: 2vw;
         padding-right: 2vw;
	}

}


@media only screen and (max-width: 600px){
	#gogo{
         font-size: 5vh;
         padding-left: 2vw;
         padding-right: 2vw;
	}
	#koko{
		 padding-left: 2vw;
         padding-right: 2vw;
		 font-size: 2.4vh;
	}
}
